@import url('https://fonts.googleapis.com/css2?family=Inknut+Antiqua&display=swap');

.background{
    background-color:#CCFFDD;
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100%;
    position: absolute;
}

.background2{
    background-color:#FBFFED;
    margin: 0 auto;
    padding-top: 40px;
    width: 1300px;
    min-height: 100%;
}

a:link {
    color: #FF7474;
    text-decoration: underline;
  }
  
  a:visited {
    color: #FF7474;
    text-decoration: underline;
  }

/* .game{
    margin: 0 auto;
    padding-top: 40px;
} */

.description{
    margin: 0 auto;
    padding-left: 70px;
    padding-right: 70px;
    text-align: center;
    font-family: 'Inknut Antiqua', serif;
    font-size: 15px;
    line-height: 25px;

}

.credits{
    margin: 0 auto;
    padding-left: 70px;
    padding-right: 70px;
    text-align: center;
    font-family: 'Inknut Antiqua', serif;
    font-size: 12px;
    line-height: 25px;
}

.title{
    margin: 0 auto;
    padding-top: 5px;
    text-align: center;
    font-family: 'Inknut Antiqua', serif;
    font-size: 25px;
}

.container{
    margin: 0 auto;
    padding-bottom: 50px;
    text-align: center;
    font-family: 'Inknut Antiqua', serif;
    font-size: 15px;
    line-height: 25px;
}

.column{
    display: inline-block;
    vertical-align: top;
    padding-top: 0;
    padding-right: 40px;
    padding-left: 40px;
    width: 230px;
}


.resources{
    font-family: 'Inknut Antiqua', serif;
    font-size: 10px;
    line-height: 25px;
    padding-bottom: 0px;
    padding-left: 15px;
}

.githubIcon{
    display: inline-block;
    vertical-align: top;
}

.githubLink{
    display: inline-block;
    margin-top: 0px;
    margin-bottom: 0px;
}

.cursorImage{
    width: 25%;
    height: 25%;
}

.shopImage{
    width: 43%;
    height: 43%;
}

.swapImage{
    width: 60%;
    height:60%;
}

.githubImage{
    width:20px;
    height:20px;
}