@import url('https://fonts.googleapis.com/css2?family=Inknut+Antiqua&display=swap');

.background{
    background-color:#CCFFDD;
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100%;
    position: absolute;
}

.background2{
    background-color:#FBFFED;
    margin: 0 auto;
    padding-top: 40px;
    width: 1300px;
    min-height: 100%;
}

a.link{
    color: #FF7474;
    text-decoration: underline;
  }
  
a:visited.link {
    color: #FF7474;
    text-decoration: underline;
}

/* .game{
    margin: 0 auto;
    padding-top: 40px;
} */

.description{
    margin: 0 auto;
    padding-left: 70px;
    padding-right: 70px;
    text-align: center;
    font-family: 'Inknut Antiqua', serif;
    font-size: 15px;
    line-height: 25px;

}

.credits{
    margin: 0 auto;
    padding-left: 70px;
    padding-right: 70px;
    text-align: center;
    font-family: 'Inknut Antiqua', serif;
    font-size: 12px;
    line-height: 25px;
}

.title{
    margin: 0 auto;
    padding-top: 5px;
    text-align: center;
    font-family: 'Inknut Antiqua', serif;
    font-size: 25px;
}

.container{
    margin: 0 auto;
    padding-bottom: 50px;
    text-align: center;
    font-family: 'Inknut Antiqua', serif;
    font-size: 15px;
    line-height: 25px;
}

.column{
    display: inline-block;
    vertical-align: top;
    padding-top: 0;
    padding-right: 40px;
    padding-left: 40px;
    width: 230px;
}


.resources{
    font-family: 'Inknut Antiqua', serif;
    font-size: 10px;
    line-height: 25px;
    padding-bottom: 0px;
    padding-left: 15px;
}

.githubIcon{
    display: inline-block;
    vertical-align: top;
}

.githubLink{
    display: inline-block;
    margin-top: 0px;
    margin-bottom: 0px;
}

.cursorImage{
    width: 25%;
    height: 25%;
}

.shopImage{
    width: 43%;
    height: 43%;
}

.swapImage{
    width: 60%;
    height:60%;
}

.githubImage{
    width:20px;
    height:20px;
}

.backButton{
    display: inline-block;
}

.button{
    padding-left: 25px;
    padding-right: 25px;
    margin-left: 20px;
    vertical-align: bottom;
    position: fixed;
    top: 40px;
    background-color: #FF7474;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    color: white;
    font-family: 'Inknut Antiqua', serif;
    font-size: 15px;
}

.button:hover{
    background-color: #cc5c5c
}

.creditsTitle{
    display: inline-block;
    margin: 0 auto;
    padding-left: 40%;
    font-family: 'Inknut Antiqua', serif;
    font-size: 40px;
    line-height: 1px;
}

.creditsSubtitle{
    margin: 0 auto;
    margin-top: 60px;
    text-align: center;
    font-family: 'Inknut Antiqua', serif;
    font-size: 25px;
    line-height: 1px;
}

hr.subtitleLine{
    background-color: black;
    border: none;
    width: 30%;
    height:2px;
    margin-top: 20px;
    margin-bottom: 40px;
}

.creditTitle{
    margin: 0 auto;
    text-align: center;
    font-family: 'Inknut Antiqua', serif;
    font-size: 18px;
    line-height: 1px;
}

.artists{
    display: flex;
    justify-content: center;
    margin: 0 auto;
    text-align: center;
    font-family: 'Inknut Antiqua', serif;
    font-size: 12px;
    line-height: 13px;
    max-width: 50%;
    word-wrap: break-word;
}

a.artistLink{
    color: #FF7474;
    text-decoration: underline;
    line-height: 25px;
}

a.artistLink:visited{
    color: #FF7474;
    text-decoration: underline;
    line-height: 25px;
}

.artistLinks{
    display: flex;
    justify-content: center;
    margin: 0 auto;
    text-align: center;
    font-family: 'Inknut Antiqua', serif;
    font-size: 12px;
    max-width: 95%;
    line-height: 1px;
}

.assetLink{
    display: flex;
    justify-content: center;
    margin: 0 auto;
    text-align: center;
    font-family: 'Inknut Antiqua', serif;
    font-size: 12px;
    line-height: 1px;
}

hr.creditLine{
    background-color: black;
    border: none;
    width: 8%;
    height:2px;
    margin-top: 20px;
    margin-bottom: 40px;
}